body {
    font-family: sans-serif;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.headding1 {
    font-size: 64px;
    color: #1F3F68;
}

.headding2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

