body {
    font-family: sans-serif;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.headding1 {
    font-size: 64px;
    color: #1F3F68;
}

.headding2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.headding3 {
    font-size: 36px;
    text-align: center;
}

.headding4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.dev {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

